    <!-- footer starts
    ================================================== -->
    <footer id="footer" class="clearfix">
        <div id="footer-inner" class="container">
            <div class="row">

                <!--first column starts-->
                <div class="span3 logo">
                    <h4>2015 © Orange Market</h4>
                    <p>
                        Orange Market es una agencia digital conducida por sus propios altos estándares y
                        el fuerte deseo de ayudar a nuestros clientes a alcanzar sus objetivos.
                    </p>
                    <img src="assets/img/logo2.png" alt="logo" style="margin:15px 15px 30px 0px;" width="168" height="37">
                </div>
                <!--first column ends-->

                <!--second column starts-->
                <div class="span3">
                    <h4>Boletín Informativo</h4>
                    <p>Suscríbase para recibir noticias acerca de incidencias, actualizaciones de servicios y nuevos
                        productos.</p>
                    <p class="text-vsmall">* Requiere confirmación.</p>
                    <form id="subform" method="get" action=".">
                        <fieldset>
                            <p>
                                <input name="email" class="required email" type="text" placeholder="Su Email"
                                       disabled="disabled">
                                <input type="submit" value="OK" class="sub-submit">
                            </p>
                            <div id="subresult"></div>
                        </fieldset>
                    </form>
                </div>
                <!--second column ends-->

                <!--third column starts-->
                <div class="span3">
                    <h4>Flickr Stream</h4>
                    <div class="flickr">
                        <script type="text/javascript" src="assets/img/badge_code_v2.gne"></script>
                        <!-- DEVELOPER WARNING: The Flickr badge code is likely to be deprecated, and we recommend
                             changing to a new method to embed photo as soon as possible.  See
                             https://www.flickr.com/api for information on how to access Flickr data. Thanks. -->
                        <span style="position:absolute;left:-999em;top:-999em;visibility:hidden"
                              class="flickr_badge_beacon"><img src="assets/img/p.gif" alt="" width="0" height="0"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--third column ends-->

                <!--fourth column starts-->
                <div class="span3 ">
                    <h4>Contacto</h4>
                    <address>
                        Orange Market.<br>
                        1201 Orange Street, <br>
                        Suite 500 Wilmington<br>
                        Delaware 19801
                    </address>
                    <ul class="social">
                        <li><img src="assets/img/icon-twitter.png" alt="icon"></li>
                        <li><img src="assets/img/icon-dribbble.png" alt="icon"></li>
                        <li><img src="assets/img/icon-googleplus.png" alt="icon"></li>
                        <li><img src="assets/img/icon-linkedin.png" alt="icon"></li>
                        <li><img src="assets/img/icon-skype.png" alt="icon"></li>
                        <li><img src="assets/img/icon-pinterest.png" alt="icon"></li>
                    </ul>
                </div>
                <!--fourth column ends-->

            </div>
        </div>
    </footer>
    <!-- footer ends
    ================================================== -->
