<!-- header starts
    ================================================== -->
<section id="header" class="clearfix">

    <!--header-inner starts-->
    <div id="header-inner" class="container">
        <div class="row">

            <!--logo starts-->
            <div class="span4 logo">
                <a href="index.html">
                    <img src="assets/img/logo2.png" alt="logo" width="220" height="48">
                </a>
            </div>
            <!--logo ends-->

            <!--menu starts-->
            <div class="span8">
                <div id="smoothmenu" class="ddsmoothmenu">
                    <ul id="nav">
                        <li><a href="index.html" class="selected">Inicio</a></li>
                        <li>
                            <a href="about.html" class="">Nosotros</a>
                        </li>
                        <li style="z-index: 1000;">
                            <a href="catalogue.html" class="" style="padding-right: 10px;">
                                Tienda
                                <img src="" class="downarrowclass" style="border:0;"></a>
                            <ul style="display: none; top: 33px; visibility: visible;">
                                <li>
                                    <a href="basket.html">
                                        Carrito
                                    </a>
                                </li>
                                <li>
                                    <a id="login_link" href="login.html">
                                        Registro
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="weblog.html" class="">Blog</a></li>
                        <li><a href="support.html" class="">Soporte</a></li>
                        <li><a href="contact.html" class="">Contacto</a></li>
                    </ul>
                    <select class="selectnav" id="selectnav1">
                        <option value="">- Navigation -</option>
                        <option value="index.html" selected="selected">INICIO</option>
                        <option value="about.html">NOSOTROS</option>
                        <option value="catalogue.html">TIENDA</option>
                        <option value="basket.html">-
                            Carrito
                        </option>
                        <option value="login.html">-
                            Registro
                        </option>
                        <option value="weblog.html">BLOG</option>
                        <option value="support.html">SOPORTE</option>
                        <option value="contact.html">CONTACTO</option>
                    </select>
                </div>
            </div>
            <!--menu ends-->

        </div>
    </div>
    <!--header-inner ends-->

    <!--header-btm starts-->
    <div id="header-btm">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <img src="assets/img/icon-skype.png" alt="icon">
                    <p>Skype</p>
                    <ul>
                        <li>
                            <img src="assets/img/icon-twitter.png" alt="icon">
                            <p><a href="http://orangemarket.es">Twitter</a></p>
                        </li>
                        <li>
                            <img src="assets/img/icon-user.png" alt="icon">
                            <p><a href="#myModal" role="button" data-toggle="modal">Login</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--header-btm ends-->

</section>
<!-- header ends
================================================== -->
