.nav-pills > .active > a, .nav-pills > .active > a:hover { 
	background-color: #E74710 !important;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a { 
	background-color: #E74710 !important;
	background-image: None !important;
}

#id_q {
	border: 3px solid #BDBDBD;
	border-radius: 5px 0px 0px 5px;
	padding: 13px;
	/*width: 827px;*/
	width: 88%;
	margin: auto;
}

.search-submit {
	padding: 17px;
}

.nav_info {
	font-size: 10px;
	list-style-type: none;
	margin-right: 7px;
	padding-left: 10px;
	text-transform: uppercase;
	/*float: right;*/
	/*background:none;*/
	color:#000;
	letter-spacing: 2px;
	margin-bottom:20px;
}

.form-horizontal {
	display: inline-block;
	/*width: 20%;*/
	width: 95%;
}

.product-price-box {
	font-size: 36px;
	font-weight: 600;
	line-height: 1em;
	color: #FFFFFF;
	letter-spacing: 0.05em;
}

.box {
	padding: 0px;
}

.carousel-control {
	top: 55%;
}

.carousel-control.right {
	right:5px;
 }

.carousel-indicators li img {
	float: left;
	margin: 10px;
	padding: 5px;
	border: 1px solid #DDDDDD;
}

.thumbnail {
	border: 0;
	box-shadow: 0px;
}

/* Laptop style */

#imac {
	height: 100%;
	right: 50%;
	z-index: 2;
	overflow:hidden;
}

#imac:before, #imac:after {}

#imac:before {
	/*bottom: 50%;*/
	/*margin-bottom: 350px;*/
}

#imac:after {
	/*top: 50%;*/
	/*margin-top: 350px;*/
}

#imac > div.imacBg {
	/*background: left center no-repeat transparent;*/
	/*background-image: url(../img/mac/imac.png);*/
	background-size: 100% 100%;
	width: 938px;
	height: 775px;
	/*position: absolute;*/
	/*top: 50%;*/
	/*right: 35%;*/
	/*right: -265px;*/
	z-index: 1;
}

#imac > div.imacBg .iframePane {
	position:relative;
	top: 38px;
	width: 894px;
	height: 588px;
	margin: 0px 0 0 44px;
	overflow:hidden;
}

#imac iframe {
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.4 );
	background: #eee;
	border: none;
	width: 854px;
	height: 478px;
}

@media screen and ( min-width: 950px ) {
	.smallscreen {
		display: none;
	}
}

@media screen and ( max-width: 949px ) {
	.widescreen {
		display: none;
	}

	#imac {}

	#page > div {}
	
}

